/**** General styles **********/
body .page-container-bg-solid .page-content, .page-container-bg-solid .page-content {
    background: #e2e2e2;
}

.page-content {
    overflow: auto;
    height: 100%;
}

.mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before {
    background-color: #c9c9c9;
}

.mt-element-step .step-line .mt-step-number{
    border: 3px solid #c9c9c9;
}

.dataTables_extended_wrapper.DTS .dataTables_info:nth-of-type(1){
    display: none;
}
.main-green{
    background-color: #17C4BB;
    color: white;
}

#service_self_serving label {
    line-height: 36px;
    margin-bottom: 0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

b, optgroup, strong {
    font-weight: 600
}

.iconwhite {color:white;}
.bgbutton {color:#eef1f5}

.mt-checkbox-list, .mt-radio-list {
    padding: 5px 15px;
}


.padding-0 {
    padding: 0px;
}
.padding-left-0 {
    padding-left: 0px;
}
.padding-right-0 {
    padding-right: 0px;
}
.padding-bottom-0 {
    padding-bottom: 0px;
}
.padding-top-0 {
    padding-top: 0px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-right-40 {
    padding-right: 40px !important;
}

.padding-right-50 {
    padding-right: 50px !important;
}



.margin-0 {
    margin: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.bg-white {
    background-color: #fff !important;
}
.sweet-overlay{
    z-index:10060;
}
.sweet-alert{
    z-index:10061;
}
.modal-dialog{
    margin-top: 6%;
}
.login-modal-dialog {
    margin-top: 23%;
}
@media (max-width:767px) {
    .login-modal-dialog {
        margin-top: 33%;
    }
}
#form_answers h4 {
    font-size: 16px;
}

.table td, .table th {
    font-size: 13px;
}

.tooltip{
  z-index: 1151 !important;
}

.error{
    color: red;
    font-size: 12px;
}

/**
 * Remove arrows from number inputs
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/************ header **********/
.top-buttons a:first-child{
    margin: 20px 0px 24px 20px;
}

.top-buttons a{
    margin: 20px 0 24px 10px;
    border-color: transparent;
}

/***** Results page *****/

.portlet.light .portlet-body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.border-left {
    border: 0;
    border-left: 1px solid #eee;
    border-bottom: 0;
}
/****** LOGO ****/

.page-header.navbar .page-logo .logo-default{
    margin: 13px 0 0;
}

/******* Login Modal ******/

.innerLink {
    cursor: pointer;
}
@media (max-width:767px) {
    .innerLink:first-child {
        margin-bottom: 20px;
    }
}

/***** Search page ******/

.search-page .input-group.select2-bootstrap-prepend {
    padding-right: 0px;
    float: left;
    padding-left: 0;
}

.search-page .select2-selection.select2-selection--single {
    border-radius: 0px;
    border-left: 0px;
}

.search-page .input-group.select2-bootstrap {
    padding-left: 0px;
    float: left;
}

.search-page .legal_issue.input-group .select2-selection.select2-selection--single {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #c2cad8;
}

.search-page .location .select2-selection.select2-selection--single {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-page .location .select2-single-prepend-text-container{
    color: #999;
}

body .select2-container--bootstrap .select2-results__group {
    padding: 4px 8px;
    line-height: 1;
}

body .select2-container--bootstrap .select2-results__option .select2-results__option {
    padding: 6px 40px 8px;
}

body .select2-container--bootstrap .select2-results__option[aria-disabled=true] {
    color: #32c5d2;
    font-weight: bold;
    cursor: initial;
}

body .select2-container--bootstrap .select2-results__option:not([aria-disabled]) {
    margin-left: 10px;
}
/******* Referrral process ***************************/
.first .mt-step-number i {
    line-height: 16px;
}

/******** Referral table *****************/
.table>thead:first-child>tr:first-child>th.text-left-padding {
    text-align: left;
    padding-left: 10px;
}

.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: 0px;
    float: left;
}
.portlet.light .dataTables_wrapper .dt-buttons>a{
    margin-right: 10px;
}
.portlet.light .dataTables_extended_wrapper .dataTables_scrollHead {
    height: 111px!important; /** Overide plugins important declaration too **/
    border-bottom: 0 !important;
}
.portlet.light .dataTables_extended_wrapper .dataTables_scrollHead .table.dataTable {
    margin-bottom: 0px !important;
}

.portlet.light .dataTables_extended_wrapper .dataTables_scrollBody .table.dataTable {
    margin-top: 0px !important; /** Overide plugins important declaration too **/
}

/******** Booking screen ************************/

.booking-form{
  border: 4px dashed #17C4BB;
}
.booking-form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #17C4BB;
  font-family: Arial;
}
.booking-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

#booking_document_tab{
    margin-top: 15px;
}

#booking_document_tab .col2{
    width: 25px;
    margin-left: -30px;
}

#booking_document_tab .feeds li .col1>.cont>.cont-col2>.desc {
    margin-left: 10px;
}

.datepicker table tr td.today {
    border-radius: 15px;
    color: #000;
    background-color: #ffdb99;
    border-color: #ffb733;
    padding-left: 7px;
}

.datepicker table tr td.day:not(.new):not(.today):not(.disabled):not(.old) {
    border-radius: 15px;
    background-color: #26c281;
    padding-left: 8px;
}

.datepicker table tr td.day.disabled.active {
    background-color: white !important;
    color: #999;
}

.datepicker table tr td.day.new,td.day.old {
    pointer-events: none;
    cursor: default;
}

.booking-information .dropdown-menu:before {
    left: 99px;
}

.booking-information .dropdown-menu:after {
    left: 100px;
}

#bookingCustomSms .modal-dialog {
    margin-top: 15%;
}

.fc-more-popover .fc-event:first-child {
    margin-top: 14px;
}
.multiselect--active {
    z-index: 5 !important;
}

.portlet.calendar .fc-event {
    border: 2px solid;
}

.portlet.calendar .fc-event .fc-time,
.portlet.calendar .fc-event .fc-title {
    font-size: 11.5px;
}

.filters_title {
    margin-top: 2px;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #17c4bb;
    line-height: 38px;
}

.filters_subtitle {
    font-size: 13px;
}

.filters_text {
    font-size: 12px;
    padding-left: 10px;
}

.filters_text input {
    height: 11px;
}

.filter_container {
    border: 1px solid #dddddd;
    margin-top: 42px;
    padding-bottom: 15px;
}
/************** Home page ***************************/
.dashboard-stat:hover, .dashboard-stat:-webkit-any-link {
    cursor: default;
}

/************** New Matching Screen *****************/
.result-card {
    background-color: white;
}

.result-card hr{
    margin: 0 15px;
}

.card-top-info{
    padding: 15px 25px 0px 0px;
    height: 189px;
    overflow: hidden;
}

.card-top-info img{
    max-width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
}

.card-top-info h3{
    font-size: 19px;
    max-height: 46px;
    overflow: hidden;
    line-height: 23px;
}

.card-top-info h4{
    font-size: 15px;
    height: 1.2em;
    overflow: hidden;
    margin: 2px 0;
}

.card-top-info p {
    font-size: 12px;
    margin: 5px 0;
}

.card-top-info i {
    margin-right: 10px;
}

.card-top-info .website {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}

.card-body-info {
    padding: 15px 15px 0;
}

.card-body-info .description {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.card-body-info .description p {
    margin: 0 0 6px 0;
}

.card-body-info .description p[style],ul[style] {
    font-family: "Open Sans",sans-serif !important;
    font-size: 14px !important;
    color: #333 !important;
}

.book-button, .refer-button{
    text-align: center;
}

.refer-button button {
    width: 100%;
}
.book-button button {
    width: 100%;
}

[data-readmore-toggle] {
    text-align: right;
    font-size: 12px;
    padding: 15px;
}

.filter .btn:not(.btn-sm):not(.btn-lg), .filter .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.84;
}

@media (max-width:767px){
    .card-top-info {
        padding: 30px;
        height: unset;
    }
}

@media (min-width:1240px){
    .card-top-info {
        padding: 15px 25px 0px 0px;
        height: 220px;
        overflow: hidden;
    }
}

.page-bar {
    background: initial;
}
/****************************** Login Page *******************/
#email-login{
    font-size: large;
}
#password-login{
    font-size: large;
}

#log_out_menu{
    color:red;
}

.vl {
    border-left: 1px solid lightgrey;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 24%;
}

#vla-login{
    top: 50%;
    left:10%;
}

#login-content{
    padding-left: 30%;
}

#login_hr{
    margin-right: 10%;
}
#login-div{
    outline: solid 0.5px lightgrey;
}

/***************** Referral *******************************/
#advance-options{
    font-size: smaller;
}
#referral_panel{
    border-color: #FFF;
}
#referral_panel_heading{
    background-color: #fff;
    border-color: #fff;
    text-align: right;
    filter: none !important;
}

/***************** No Reply Emails ***********************/

.nre_template_form .checkbox_all
{
    margin-top: 12px;
}

.note-editor a{
    text-decoration: underline;
}

.note-editor .modal-body{
    padding: 23px;
}

.note-editor h1{
    font-size: 28px;
}

.note-editor h2{
    font-size: 24px;
}

.note-editor h3{
    font-size: 20px;
}

.modal-body  h4{
    color:#3598dc;
}

.modal-body .toggle{
    float: right ;
}

.checkbox #sn-checkbox-open-in-new-window{
        margin-left: -13px;
}

/************************ WCAG Compliance ***********************/

.btn-danger{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn.blue:not(.btn-outline) {
    color: #FFF;
    background-color: #286090;
    border-color: #204d74;
}

/************************ general colors **************************/
body {
    color: black;
    font-weight: normal;
}
.btn.btn-outline.dark {
    color: black;
}

.portlet.calendar .fc-event .fc-title {
    font-weight: normal;
    color: inherit;
}

.portlet.calendar .fc-event .fc-time {
    font-weight: normal;
    color: inherit;
}

.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-compact>li>a>.title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact>li>a>.title {
    font-size: 14px;
    font-weight: normal;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

.mt-checkbox, .mt-radio {
    font-weight: normal;
}
/*********** Referral - details page ***************************************/

.details-page h3,
.details-page h4 {
    font-weight: bold;
}

.details-page h3 {
    font-size: 1.3em;
    margin-top: 10px;
}

.details-page h4 {
    font-size: 1em;
}

.details-page small.elibigility_label {
    font-size: 80%;
    color: #4f4f4f;
    display: block;
    margin-bottom: 10px;
    margin-top: -8px;
    margin-left: 25px;
}

.details-page .mt-checkbox {
    font-size: 13px;
    margin-bottom: 10px;
    padding-left: 25;
}

.details-page .mt-checkbox>span {
    top: 3px;
    height: 15px;
    width: 15px;
}

/************************** Booking WYSISG Editor *************************/

#booking_description {
    padding: 0;
    border: 0;
}

.editor {
    height: 400px;
}

/************************** Vue Js Datatables *********************************/
.vue-tables table.dataTable thead .sorting {
    color: #7a80dd;
    width: 0;
}

/************************* Calendar page  ***********************************/
#calendar .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0px 2px;
}

/************************ Pre **********************************************/
pre {
    display: inherit;
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    line-height: inherit;
    word-break: inherit;
    word-wrap: inherit;
    color: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    font-family: "Open Sans",sans-serif;
}

/************************* Services send to client ******************/

#send_client_btn {
    float: right;
    margin: 7px;
}

#logo_sp {
    margin-left: 0px;
}

#status {
    cursor:initial;
}


/************************** datatable *******************************/

table#data_table.table tr:nth-child(even) {
    background: #fbfcfd
}
table#data_table.table tr:nth-child(odd) {
    background: #ffffff
}


table#data_table.table>tbody>tr>td,
table#data_table.table>tbody>tr>th,
table#data_table.table>tfoot>tr>td,
table#data_table.table>tfoot>tr>th,
table#data_table.table>thead>tr>td,
table#data_table.table>thead>tr>th {
    border: 1px solid #e7ecf1;

}


/***************************** dasboard notifications ****************************/

.dashboard_date {
    font-size: 85%;
    float: right;
}

.dashboard_date small{
    background: #e2e2e2;
    padding: 1px 3px;
    border-radius: 4px;
    color: #525e64;
}

.darkorange {
    color: darkorange;
}

.green-orbit {
    color: #17C4BB;
}

/********************************************** Show Service page ************************/
.feeds {
    overflow: auto;
    max-height: 130px;
}
.feeds .desc p {
    margin: 0;
}

.feeds li .col2 {
    width: 75px;
    margin-left: -75px;
    font-size: 10px;
}
.feeds li .col1 {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #17c4bb;
}

.feeds li .col1>.cont>.cont-col2>.desc {
    text-align: justify;
    margin-top: 5px;
}
.feeds li .col1>.cont {
    margin-right: 35px;
}
.feeds li .col2>.date {
    padding: 0px 9px 5px 4px;
}
.feeds li:first-child {
    display: none;
}